@require 'normalize.css/normalize.css'
@require 'codemirror/lib/codemirror.css'

#content
	display: flex

	#js
	#babel
		flex-grow: 1

		.CodeMirror
			background-color: #aaa

	#js
		.CodeMirror
			border-right: 1px solid
