@require 'nib'
@require 'normalize.css/normalize.css'
@require 'codemirror/lib/codemirror.css'

#content
	display : flex
	position: absolute
	top     : 0
	bottom  : 0
	left    : 0
	right   : 0

	#js
	#babel
		flex      : 1 0 0
		height    : 100%
		background: #eee
		padding   : 1rem
		transition: border-top .3s

		&.focused
			border-top: 4px solid #333

		.editor
		.output
			height: 100%

		hgroup
			border-bottom : 1px solid
			padding-bottom: .5em
			margin-bottom : .5em

		h1
			margin        : 0
			font-size     : 1em
			text-transform: uppercase
			margin-right  : .5em

		h2
			margin   : 0
			font-size: .8em
			opacity: .5

		h1
		h2
			display    : inline-block
			font-weight: normal

		.CodeMirror
			height    : 100%
			background: @background

	#babel
		border-right: 1px solid

		.CodeMirror
			font-size: 1.3em
