doctype html
html
	head
		title js2babel
		link(rel="icon", href="favicon.png")
		link(rel="stylesheet", href="index.css")
	body
		#content
			section#js javascript
			section#babel babel
		script(src="index.js")
