doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title js2babel
		link(rel="icon", href="favicon.png")
		link(rel="stylesheet", href="index.css")
	body
		#content
			section#js
			section#babel
		script(src="index.js")
