doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title babel2js
		link(rel="icon", href="favicon.png")
		link(rel="stylesheet", href="index.css")
	body
		#content
			section#babel
				hgroup
					h1 babel javascript
					h2 input
				section.editor
			section#js
				hgroup
					h1 es5 javascript
					h2 result
				section.output
		script(src="index.js")
