@require 'nib'
@require 'normalize.css/normalize.css'
@require 'codemirror/lib/codemirror.css'

#content
	display: flex

	#js
	#babel
		flex: 1 0 0

		.CodeMirror
			background-color: #eee

	#babel
		.CodeMirror
			border-right: 1px solid
